{% extends 'base.html.twig' %}

{% block title %}Hello ConvertController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Is! ✅</h1>

    
<h1>Download file </h1>

<button type="button">
    <a href="{{ asset('uploads/teams.csv') }}">Voir teams (csv)</a>
</button>

<button type="button">
<a href="{{ asset('uploads/team_members.csv') }}">View brochure (PDF)</a>
</button>


</div>
{% endblock %}
